.fa
{
  color:#6c757d;
}
.hyperlink_button {
  color: #6c757d;
  padding: 3px;
  margin-right: 8px;
  border-radius: 1px;
  border: 1px;
  border-radius: 5px;
  border-color: #6c757d;
  border-style: groove;
  text-decoration: none;
}